<h1>All your lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<div class="btn btn-outline-primary"><%= link_to "add a new list", new_list_path %></div>

